.sidebar__container {
  background: var(--primary-color);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-height: 100vh;
  position: sticky;
  align-items: center;
  top: 2rem;
  gap: 4rem;
  left: 0;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.sidebar__logo {
  /* width: 3.5rem; */
  scale: 1.1;
  margin-bottom: 3rem;
}

.sidebar__functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.sidebar__functionalities img {
  cursor: pointer;
}

.theme--changer {
  position: absolute;
  bottom: -50px;
  left: 0;
}

.logout {
  transform: rotate(180deg);
  position: absolute;
  bottom: -100px;
  left: 0;
}
.account__image {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  /* margin-top: 2rem; */
  width: 4rem;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.account__image img {
  width: 100%;
  height: 100%;
  /*  */
}
/* Under 800px  */
@media screen and (max-width: 50em) {
  .sidebar__container {
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    top: 0;
  }

  .sidebar__logo {
    margin-bottom: 0;
  }

  .sidebar__nav {
    flex-direction: row;
  }

  .theme--changer {
    bottom: 0;
    left: -50px;
  }

  .logout {
    bottom: 0;
    left: -100px;
  }

  .account__image {
    bottom: 70%;
    /* margin-top: 0; */
  }
}
